{% comment %}
  TODO: Add Stylesheets and title here.
{% endcomment %}

﻿{% block content %}
    <div class="header">
        <a href="koderia(anasayfa).html" style="text-decoration: none" ><p class='header__logo'>Khoderia</p></a>
        <div class="header__bar">
          <a href="koderia(about).html" style="text-decoration: none" ><p class="header__bar-about">About</p></a>
          <a href="koderia(login).html" style="text-decoration: none" ><p class="header__bar-login">Login</p></a>
        </div>
    </div>
    <div class="container">
      <div class="container__login">
        <p class="container__login-header">Giriş</p>
        <input type="text" class="container__login-input" placeholder="Kullanıcı adı" />
        <input type="text" class="container__login-input" placeholder="Şifre" />
        <button  class="container__login-button"><p>Giriş Yap</p></button>
        <button  class="container__login-button"><p class="container__login-forgetpw">Şifremi Unuttum!</p></button>
        <p style="color: white">Hesabın mı yok?</p>
        <button class='container__login-button'>Üye ol</button>
      </div>
    </div>
{% endblock %}
