* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
}

.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
  background-color: #333;
}

.header__logo {
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 28px;
  flex: 1;
}
.header__logo:hover{
  background-color: #ddd;
  color: black;
}

.header__bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding: 0 40px;
}

.header__bar-about {
  cursor: pointer;
  margin-right: 50px;
}
.header__bar-about:hover{
  background-color: #ddd;
  color: black;
}

.header__bar-about,
.header__bar-login {
  cursor: pointer;
  color: #fff;
  font-size: 18px;
}
.header__bar-login:hover{
  background-color: #ddd;
  color: black;
}

.save{
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  margin-bottom: 20px;
  background-color: #222;
  border:none;
  width:300px;
  height: 30px;
  text-align: center;
  margin-left:20px;
}