html {
    box-sizing: border-box;
}

body {
    background-color: #222222;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-27 {
    margin-left: 27px;
}

.posts {
    cursor:pointer;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 100px;
   
    background-color: #222222;
}

#container ul li {
    cursor:pointer;
    display: inline-block;
    color: white;
    margin-left: 70%;
    padding: 10px 10px 5px 10px;
}


.post {
    cursor:pointer;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: #222222;
    margin-right: 190px;
    border: solid gray;
}

.post-header {
    cursor:pointer;
    color: white;
    text-align: center;
    padding: 50px;
}

.hr {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    background-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #222;
  }
  
  .header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;
    background-color: #333;
  }
  
  .header__logo {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 28px;
    flex: 1;
  }
  
  .header__logo:hover{
  background-color: #ddd;
  color: black;
  }
  
  .header__bar {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0 40px;
  }
  
  .header__bar-about {
    cursor: pointer;
    margin-right: 50px;
  }

  .header__bar-about:hover{
  background-color: #ddd;
  color: black;
  }
  
  .header__bar-about,
  .header__bar-login {
    cursor: pointer;
    color: #fff;
    font-size: 18px;
  }
  .header__bar-login:hover{
  background-color: #ddd;
  color: black;
  }

@media screen and (max-width: 700px) {
    .hr {
        margin-left: 70px;
    }
}

@media screen and (max-width: 600px) {
    .post {
        margin-left: 100px;
        border: none;
    }
}

@media screen and (max-width: 600px) {
    #container ul #ct  {
        margin-top: 10px;
    }
}
